
/* ----------------------------------------------------------
    Reboot and Variables
---------------------------------------------------------- */
:root {
    --bg-light: #ced6e0;
    --bg-dark: #415a6b;
    --dark: #632B24;
    --light: #D6F0CD;
    --font: Helvetica, 'sans-serif';
}

 html, body {
    min-height: 100vh;
    font-family: "Helvetica";
    background-color: var(--bg-dark);
 }

main{
    min-height: 84vh;
} 

h1, h2, h3 h4 {color: black;}
p {color: var(--light);}


a:hover, a {
    text-decoration: none
    
}

/* ----------------------------------------------------------
    Navbar Component
---------------------------------------------------------- */
nav {
    background-color: var(--bg-dark);
    border: none;
}

nav a {
    font-size: 1.1rem;
}


.navbar-light .navbar-nav .nav-link.active {
    color: rgb(31, 68, 168);
}

.nav-brand {
    font-size: 1.8rem;
    padding-bottom: 0;
}

/* ----------------------------------------------------------
    Skeleton Elemens
---------------------------------------------------------- */
.skeleton-block {
    opacity: 0.4;
    border: 1px solid var(--secondary);
    width: 500px;
    height: 500px;
    flex-shrink: 0;
}

.skeleton-avatar {
    opacity: 0.4;
    width: 160px;
    height: 160px;
    flex-shrink: 0;
}
