@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');

html, body, main {
    min-height: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
}

main {
    background: url('/img/volume.png') no-repeat center/50% #6699CC;
}
.login-cont {
    background: url('/img/brand-icon.png') no-repeat 50% 18% / 40% #6699CC;
}

.explore-cont, .library-cont, .buddies-cont, .profile-cont, .login-cont {
    min-height: 80vh;
}

@media (min-width: 992px) {
    form.container {
        max-width: 720px;
    }
}


a:hover {
    text-decoration: none
    
}

a {
    text-decoration: none;
}

.spinner {
    width: 80px;
    height: 80px;
    border: 5px solid transparent;
    border-radius: 50% 50%;
    border-top-color: white;
    border-bottom-color: white;
    animation: spin 0.5s ease infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

.navbar-light .navbar-nav .nav-link.active {
    color: rgb(31, 68, 168);
}

.navbar-brand {
    font-family: 'IBM Plex Sans';
    font-size: 2rem;
}



.skeleton-block {
    opacity: 0.4;
    border: 1px solid white;
    width: 500px;
    height: 500px;
    flex-shrink: 0;
}

.skeleton-avatar {
    opacity: 0.4;
    width: 160px;
    height: 160px;
    flex-shrink: 0;
}

@media (max-width: 576px) {

    .skeleton-block {
        width: 300px;
    }

}

@media (max-width: 768px) {
    .skeleton-block:nth-child(2n+3){
        display: none;
    }
    .skeleton-cont {
        justify-content: center;
    }

    .skeleton-avatar:nth-child(2n+3){
        display: none;
    }

}
